<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forgeclient">

    <!-- Required by the Forge OS bound service -->
    <uses-permission android:name="com.forge.os.permission.USE_API" />

    <queries>
        <package android:name="com.forge.os" />
        <intent>
            <action android:name="com.forge.os.api.IForgeOsService" />
        </intent>
    </queries>

    <application android:label="Forge Client Sample" android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
